body {
    background-image: url('pemandangan2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    font-family: "Permanent Marker", cursive;
    font-size: 100px;
}
#resetBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

#startBtn{
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

.title{
    font-family: "Permanent Marker", cursive;
    font-size: 40px;
    text-align: center;
    margin-left: 100px;
    padding: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.child_btn{
    display: inline-block;
    margin: 5px;
    padding-bottom: 9rem;
    /* padding: 10px; */
    /* width: 20px;
    height: 30px; */
}

.child_canvas{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    /* width: 50px;
    height: 50px; */
}

  